<section class="section  section-testimonial loaded">
  <div class='container'>
    
    <div class='row'>
      <div class='col-md-3'>
      </div>

      <div class='col-md-6 col-sm-6'>
        <div class='panel panel-primary '>
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= t 'new_ddt' %>
            </h3>
          </div>

          <div class="panel-body">
            <%= render 'form' %>
          </div>

        </div>
        <div class="text-center">
          <%= link_to (t 'back'), ddts_path, :class => "btn btn-primary" %>
        </div>
      </div>  
      <div class='col-md-3'>
      </div>
    </div>
  </div>
</section>