<%= form_for(@gonogo) do |f| %>
  <% if @gonogo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gonogo.errors.count, "error") %> prohibited this gonogo from being saved:</h2>

      <ul>
      <% @gonogo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
