<div class='container'>
  
  <div class='row'>
    <div class='col-md-1'>
    </div>
    <div class='col-md-10 col-sm-10'>
      <h1 class='section-title'><%= t 'gonogos_list'%></h1>
      <div class='panel panel-primary '>
        <table class='table table-striped table-bordered text-center'>
          <thead>
            <tr>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @gonogos.each do |gonogo| %>
              <tr>
                <td><%= link_to (t 'show'), gonogo , :class => "btn btn-primary" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      
      <div class='text-center'>
      </div>
      </div>
    <div class='col-md-1'>
    </div>
  </div>
</div>
