<h1>Listing gonogos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gonogos.each do |gonogo| %>
      <tr>
        <td><%= link_to 'Show', gonogo %></td>
        <td><%= link_to 'Edit', edit_gonogo_path(gonogo) %></td>
        <td><%= link_to 'Destroy', gonogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gonogo', new_gonogo_path %>
