<%= form_for(@bart) do |f| %>
  <% if @bart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bart.errors.count, "error") %> prohibited this bart from being saved:</h2>

      <ul>
      <% @bart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
