// Place all the styles related to the DdtQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ddt_question_text{
	color: #669900;
	font-weight: bold;
	border-style: dashed;
	padding: 10;
	border-color: #ff9900; 
	border-radius: 10px;
	padding: 25px 50px;
}